@font-face {
  font-family: 'Great Vibes';
  src: url(/fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: 'Playfair Display Regular';
  src: url(/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: 'Playfair Display Medium';
  src: url(/fonts/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: 'Playfair Display Bold';
  src: url(/fonts/PlayfairDisplay-Bold.ttf);
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cream: #fff8f5;
  --black: #0f1108;
  --blue: #201a63;
  --transparent-blue: rgba(32, 26, 99, 0.94);
  --error: #cf5050;
  --purple: #b87bc5;
  --light-purple: #f5edff;

  --pink-cream-gradient: linear-gradient(
    43deg,
    #b87bc5 0%,
    rgb(255, 225, 211) 100%
  );

  --light-pink-cream-gradient: linear-gradient(
    37deg,
    rgba(184, 123, 197, 0.25) 10.27%,
    rgba(255, 225, 211, 0.25) 100%
  );

  --fancy-font: 'Great Vibes';
  --header-title-font-regular: 'Playfair Display Regular';
  --header-title-font-medium: 'Playfair Display Medium';
  --header-title-font-bold: 'Playfair Display Bold';
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
