.myAccountForms {
  font-family: var(--header-title-font-regular);
  width: 85vw;
  max-width: 550px;
  margin: 0 auto 2rem;
  padding: 1rem;
  background: var(--light-purple);
  border-radius: 5px;
  align-self: flex-start;
}

.formsWrap {
  width: 85%;
  margin: 0 auto;
}

.formHeader {
  font-family: var(--header-title-font-regular);
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}

.myAccountInputLabel {
  display: block;
}

.myAccountTextInput {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.myAccountTextInput:last-of-type {
  margin-bottom: 1rem;
}

.myAccountFormBtn {
  font-family: var(--header-title-font-medium);
  display: block;
  /* margin: 0 auto; */
  padding: 0.5rem 1rem;
  background: var(--purple);
  color: white;
}

.accountForm {
  margin-bottom: 1rem;
}

.error {
  color: var(--error);
  margin-bottom: 1rem;
  font-family: var(--header-title-font-medium);
  font-size: 18px;
}

@media screen and (min-width: 744px) {
  .myAccountForms {
    width: 550px;
  }
  .formHeader {
    font-size: 24px;
  }

  .myAccountForms {
    padding: 2rem;
  }

  .myAccountInputLabel {
    font-size: 18px;
  }

  .myAccountFormBtn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .myAccountForms {
    margin: 3.2rem 0 0;
  }
}
