.section {
  font-family: var(--header-title-font-regular);
  width: 85vw;
  max-width: 550px;
  margin: 0 auto 7rem;
  padding-top: 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.orderSummaryContainer {
  width: 90%;
  margin: 0 auto;
}

.header {
  font-size: 18px;
}

@media screen and (min-width: 744px) {
  .header {
    font-size: 20px;
  }
}
