.ctaCard {
  width: 220px;
  height: 142px;
  margin: 8rem auto 12rem;
  /* background: var(--transparent-blue); */
  background: rgba(32, 26, 99, 0.548)
    linear-gradient(
      43deg,
      rgba(184, 123, 197, 0.83) 0%,
      rgba(255, 225, 211, 0.83) 100%
    );

  text-align: center;
  padding: 1.5rem;
  border-radius: 5px;
}

.ctaText {
  color: white;
  font-size: 20px;
  font-family: var(--header-title-font-regular);
}

.ctaNavLink {
  text-decoration: none;
}

.ctaBtn {
  border: none;
  margin: 0.4rem auto 0;
  border-radius: 12px;
  /* background-image: linear-gradient(
    to right,
    #b87bc5,
    #c598d6,
    #d3b5e5,
    #e3d1f3,
    #f5edff
  ); */
  /* color: var(--blue); */
  background: var(--transparent-blue);
  color: white;
  width: 98px;
  display: inline-block;
  padding-top: 2px;
  height: 29px;
  font-family: var(--header-title-font-medium);
  font-size: 15px;
}

.ctaBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .ctaCard {
    width: 342px;
    height: 204px;
    margin-top: 7rem;
    padding: 1rem 0 0;
  }

  .ctaText {
    font-size: 36px;
  }

  .ctaBtn {
    width: 150px;
    height: 46px;
    font-size: 20px;
    margin-top: 0.7rem;
    padding-top: 6px;
  }
}
@media screen and (min-width: 959px) {
  .ctaCard {
    position: absolute;
    top: 5%;
    left: 10%;
  }
}

@media screen and (min-width: 1177px) {
  .ctaCard {
    top: 10%;
    width: 500px;
    height: 256px;
    padding: 1rem 0 0;
  }

  .ctaText {
    font-size: 48px;
  }

  .ctaBtn {
    width: 197px;
    height: 60px;
    font-size: 24px;
    margin-top: 0.7rem;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1700px) {
  .ctaCard {
    left: 15%;
  }
}
