.featuredHeaderContainer {
  width: 375px;
  margin: 30rem auto 1rem auto;
  padding-top: 2rem;
  text-align: center;
  position: relative;
}

.chefIcon {
  position: absolute;
  top: 44%;
  left: 17%;
}

.featuredText {
  font-family: var(--fancy-font);
  color: var(--purple);
  font-size: 26px;
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 744px) {
  .featuredHeaderContainer {
    margin-top: 31rem;
  }

  .featuredText {
    font-size: 40px;
  }

  .chefIcon {
    top: 20%;
    left: -3%;
  }
}

@media screen and (min-width: 959px) {
  .featuredHeaderContainer {
    margin-top: 42rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1177px) {
  .featuredHeaderContainer {
    margin-top: 70rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .featuredText {
    font-size: 60px;
  }

  .featuredHeaderContainer {
    width: 450px;
  }

  .chefIcon {
    top: 30%;
    left: -10%;
  }
}
