.cakeDetailsCard {
  width: 265px;
  height: auto;
  margin: 0 auto 3rem;
  padding: 1rem;
  color: var(--blue);
  text-align: center;
  border-radius: 5px;
  border: 1px solid #090446;
  box-shadow: 3px 3px 8px 0px rgba(9, 4, 70, 0.95);
}

.cakeDetailsCardHeader {
  font-family: var(--header-title-font-medium);
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
}

.price {
  margin-bottom: 0.5rem;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.select {
  width: 54px;
  height: 30px;
  margin: 0 0 5px 10px;
  padding-left: 5px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
}

.select:last-of-type {
  margin-bottom: 15px;
}

.addToCartBtn {
  display: block;
  width: 108px;
  height: 30px;
  margin: 0.5rem auto 0;
  font-family: var(--header-title-font-medium);
  font-size: 14px;
  background: var(--blue);
  color: white;
}

@media screen and (min-width: 744px) {
  .cakeDetailsCard {
    width: 436px;
    padding: 2rem 3rem;
  }

  .cakeDetailsCardHeader {
    font-size: 26px;
  }
  .label,
  .price {
    font-size: 16px;
  }

  .addToCartBtn {
    width: 168px;
    height: 45px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .cakeDetailsCard {
    width: 522px;
    height: 484px;
    margin: 0;
  }

  .cakeDetailsCardHeader {
    font-size: 32px;
  }

  .description {
    font-size: 18px;
  }

  .label,
  .price {
    font-size: 18px;
  }

  .addToCartBtn {
    width: 245px;
    height: 55px;
    font-size: 24px;
  }
}
