.backArrowLink {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 155px;
  height: 25px;
  color: var(--black);
  text-decoration: none;
}

.previousPageArrowText {
  font-size: 12px;
  margin-left: 5px;
}

@media screen and (min-width: 744px) {
  .previousPageArrowText {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .previousPageArrowText {
    font-size: 18px;
  }
}
