.variantWrap {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 14px;
}

.variant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-title-font-medium);
  padding: 0.5rem 1rem;
  background: var(--light-purple);
  border-radius: 5px;
}

.trashIcon {
  width: 16px;
  height: 18px;
}

.editIcon {
  width: 16px;
  height: 16px;
}

.variantWrap:last-of-type {
  margin-bottom: 3rem;
}

@media screen and (min-width: 744px) {
  .variantWrap {
    font-size: 16px;
  }
}
