.footerWrap {
  background: var(--transparent-blue);
  padding: 2rem 1rem 1rem;
}

.innerFooterWrap {
  max-width: 334px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 744px) {
  .footerWrap {
    padding-left: 0;
  }
  .innerFooterWrap {
    margin: 0 auto;
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .innerFooterWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 125px 50px;
    width: 90vw;
    margin: 0 auto;
    max-width: 1400px;
    height: 175px;
  }

  .footerWrap {
    padding: 2rem 0 2rem;
  }
}
