.cartScreen {
  position: relative;
  overflow: hidden;
  /* 100% minus nav & footer */
  min-height: calc(100vh - 454px);
}

.cartHeader {
  margin: 2rem auto 2rem;
  font-size: 20px;
  text-align: center;
  font-family: var(--header-title-font-regular);
  color: var(--blue);
}

.noItemsContainer {
  width: 300px;
  margin: 5rem auto 3rem;
  padding: 1rem;
}

.noItemsText {
  font-size: 14px;
  text-align: center;
}

.shopLink {
  text-decoration: none;
  border-radius: 12px;
  background: var(--transparent-blue);
  color: white;
  width: 98px;
  height: 29px;
  display: block;
  text-align: center;
  padding-top: 2px;
  font-family: var(--header-title-font-medium);
  font-size: 14px;
  margin: 1rem auto 0;
}

.OrdersContainer {
  width: 335px;
  margin: 2rem auto 9rem;
}

.topCake {
  position: absolute;
  top: -100px;
  right: -105px;
}

.bottomCake {
  position: absolute;
  bottom: -75px;
  left: -100px;
}

@media screen and (min-width: 744px) {
  .cartScreen {
    /* 100% minus nav & footer */
    min-height: calc(100vh - 513px);
  }

  .OrdersContainer {
    width: 500px;
  }

  .cartHeader {
    font-size: 40px;
  }

  .topCake {
    top: -80px;
    right: -80px;
  }

  .bottomCake {
    bottom: -70px;
    left: -70px;
  }

  .noItemsContainer {
    width: 350px;
  }

  .noItemsText {
    font-size: 16px;
  }

  .shopLink {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .cartScreen {
    /* 100% minus nav & footer */
    min-height: calc(100vh - 324px);
  }

  .topCake {
    top: 450px;
    right: -400px;
  }

  .bottomCake {
    display: none;
  }

  .OrdersContainer {
    margin: 1rem auto 0;
  }

  .summaryOrderContainer {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
  }
}
