.formWrap {
  position: relative;
  overflow: hidden;
  max-width: 2500px;
  margin: 0 auto;
}

.checkoutForm {
  width: 85vw;
  margin: 0 auto;
}

.cakeImg {
  display: none;
}

@media screen and (min-width: 1200px) {
  .form {
    max-width: 600px;
    margin-bottom: 1rem;
  }
  .checkoutForm {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
  }

  .cakeImg {
    display: inline-block;
    position: absolute;
    right: -65%;
    right: -500px;
    bottom: -25%;
    z-index: -1;
  }
}
