.cakeHeader {
  text-align: center;
  font-family: var(--fancy-font);
  font-size: 26px;
  color: var(--purple);
}

.previousPageArrowWrap {
  position: relative;
  width: 150px;
  height: 20px;
}

.previousPageArrowText {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 22px;
  display: inline-block;
}

.link,
.previousPageArrowText:active,
.previousPageArrowWrap:active,
.previousPageArrow:active {
  color: var(--black);
}

.link {
  display: inline-block;
  width: 155px;
  height: 20px;
  margin-bottom: 1.5rem;
  margin-left: 20px;
  margin-top: 10px;
}
