.homeScreenWrap {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.heroContainer {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 460px;
  width: 100%;
  background: url('../assets/images/mobile/hero-959w.jpg') no-repeat;
  background-position: center;
}
