.homeScreenWrap {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.heroContainer {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 460px;
  width: 100%;
  max-width: 2000px;
}

@media screen and (max-width: 959px) {
  .heroContainer {
    background: url('../assets/images/mobile/hero-959w.jpg') no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1400px) {
  .heroContainer {
    top: 85px;
  }
}

@media screen and (min-width: 959px) and (max-width: 1177px) {
  .heroContainer {
    background: url('../assets/images/tablet/hero-1178w.jpg') no-repeat;
    background-position: center;
    height: 639px;
  }
}

@media screen and (min-width: 1177px) {
  .heroContainer {
    background: url('../assets/images/desktop/hero-2000w.jpg') no-repeat;
    background-position: center;
    height: 1024px;
  }
}
