.accountScreen {
  position: relative;
  padding-top: 2.5rem;
  overflow: hidden;
  margin-bottom: 4rem;
}

.backgroundCake1 {
  position: absolute;
  top: -80px;
  left: -100px;
  z-index: -1;
}

.backgroundCake2 {
  position: absolute;
  bottom: -200px;
  right: -100px;
  z-index: -1;
}

.accountHeader {
  font-family: var(--header-title-font-regular);
  font-size: 20px;
  text-align: center;
  margin-bottom: 3rem;
}

.orderHeader {
  font-family: var(--header-title-font-regular);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 16px;
}

.accountSectionHeader {
  font-family: var(--header-title-font-regular);
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 744px) {
  .accountHeader {
    font-size: 40px;
  }

  .backgroundCake1 {
    top: -225px;
    left: -250px;
  }

  .backgroundCake2 {
    display: none;
  }

  .orderHeader {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .flexWrap {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .centerInfo {
    display: flex;
    justify-content: center;
  }
}
