.detailsContainer {
  color: white;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  font-family: var(--header-title-font-regular);
  gap: 10px;
}

.label {
  justify-self: start;
}

.number {
  justify-self: end;
}

@media screen and (min-width: 744px) {
  .label,
  .number {
    font-size: 18px;
  }
}
