.footerContainer {
  background-color: var(--blue);
  height: 220px;
  padding: 1rem 2.25rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}

.shipping {
  font-size: 12px;
  text-align: center;
  color: white;
}

.closeBtn {
  background: none;
  font-size: 12px;
  color: white;
  text-decoration: underline;
}

/* .closeBtn:hover {
  text-decoration: underline;
} */

@media screen and (min-width: 744px) {
  .footerContainer {
    padding: 1rem 3.25rem;
    height: 250px;
  }

  .shipping,
  .closeBtn {
    font-size: 14px;
  }
}
