.sizeContainer {
  display: flex;
  align-items: center;
}

.sizeSelect {
  border: 1px solid var(--black);
  border-radius: 5px;
  font-size: 12px;
  font-family: var(--header-title-font-regular);
  text-align: center;
  width: 45px;
  height: 25px;
  color: var(--black);
}

.label {
  font-size: 12px;
  font-family: var(--header-title-font-regular);
  color: var(--black);
  margin-right: 5px;
}

@media screen and (min-width: 744px) {
  .sizeContainer,
  .label {
    font-size: 16px;
  }
}
