.container {
  width: 90%;
  /* 100% minus nav & footer */
  min-height: calc(100vh - 430px);
  margin: 0 auto 4rem;
  padding-top: 2rem;
}

.heading {
  font-size: 20px;
  font-family: var(--header-title-font-regular);
  text-align: center;
  margin: 1rem;
  color: var(--blue);
}

@media screen and (min-width: 744px) {
  .heading {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .heading {
    font-size: 40px;
  }

  .container {
    /* 100% minus nav & footer */
    min-height: calc(100vh - 324px);
  }
}
