.container {
  width: 90%;
  margin: 0 auto;
}

.heading {
  font-size: 20px;
  font-family: var(--header-title-font-regular);
  text-align: center;
  margin: 1rem;
  color: var(--blue);
}

@media screen and (min-width: 744px) {
  .heading {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .heading {
    font-size: 40px;
  }
}
