.pageContainer {
  margin: 3.5rem auto;
  width: 90%;
  max-width: 800px;
  min-height: 550px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header {
  font-size: 20px;
  font-family: var(--header-title-font-regular);
  color: var(--blue);
}

.link {
  text-decoration: none;
  color: white;
  font-family: var(--header-title-font-regular);
  font-size: 14px;
  background-color: var(--purple);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.noProducts {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .pageContainer {
    width: 400px;
    max-width: 400px;
  }
}

@media screen and (min-width: 750px) {
  .pageContainer {
    width: 90%;
    max-width: 800px;
  }
  .link {
    font-size: 16px;
  }

  .header {
    font-size: 25px;
  }
}
