.screen {
  /* temp */
  min-height: 1100px;
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2.5rem;
}

.variantsHeader {
  font-size: 18px;
  margin-top: 3rem;
  font-weight: 600;
}

.linkWrap {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: white;
  font-family: var(--header-title-font-regular);
  font-size: 14px;
  background-color: var(--purple);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 750px) {
  .link {
    font-size: 16px;
  }
}
