.carousel {
  position: relative;
  width: 335px;
  height: 382px;
  margin: 0 auto 2.5rem;
  overflow: hidden;
  border-radius: 5px;
}

.carouselCardContentWrap {
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 382px;
  list-style-type: none;
}

.changeSlideBtn {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 0;
  background: red;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(128, 128, 128, 0.253);
}

.changeSlideBtnRight {
  right: 0;
}

@media screen and (min-width: 744px) {
  .carousel {
    width: 550px;
    height: 616px;
  }
}

@media screen and (min-width: 1440px) {
  .carousel {
    width: 1280px;
    height: 431px;
    margin-bottom: 5rem;
  }
  .carouselCardContentWrap {
    display: flex;
    min-height: 431px;
  }
}
