.checkBoxWrap {
  position: relative;
  margin-bottom: 3rem;
}

.checkoutCheckbox {
  position: absolute;
  top: 23%;
  left: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.checkoutCheckboxLabel {
  display: inline-block;
  font-family: var(--header-title-font-medium);
  font-size: 14px;
  margin-left: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 744px) {
  .checkoutCheckboxLabel {
    font-size: 16px;
  }
}
