/* changed to medium weight from design's regular for readability */
.checkoutTextLabel {
  font-family: var(--header-title-font-medium);
  display: block;
  cursor: pointer;
}

.checkoutTextInput {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.stateAndZipWrap {
  display: flex;
  gap: 1rem;
}

.stateWrap {
  flex-grow: 1;
}

.zipWrap {
  flex-grow: 1;
}
