.shippingInputWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.shippingInput {
  position: absolute;
  top: 6px;
  left: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

.shippingLabel {
  font-family: var(--header-title-font-medium);
  font-size: 14px;
  margin-left: 1.5rem;
  cursor: pointer;
}

input[type='radio']:checked {
  background: var(--transparent-blue);
}

.shippingInputWrap:last-child {
  margin-bottom: 2rem;
}

.price {
  font-family: var(--header-title-font-medium);
}

@media screen and (min-width: 744px) {
  .shippingLabel {
    font-size: 18px;
  }
}
