.summaryContainer {
  background-color: var(--cream);
  margin: 1rem auto 1.5rem;
  border-radius: 5px;
  padding: 2rem 2rem 1rem;
  border: 1px solid rgba(32, 26, 99, 0.46);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.summaryHeading {
  color: var(--black);
  font-family: var(--fancy-font);
  text-align: center;
  border-bottom: 1px solid var(--black);
  width: 200px;
  margin: 0 auto 1rem;
  font-size: 18px;
}

.detailsContainer {
  color: black;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  font-family: var(--header-title-font-regular);
  gap: 10px;
}

.left {
  justify-self: start;
}

.right {
  justify-self: end;
}

.gap {
  margin-top: 1.5rem;
}

.placeOrderLink {
  display: block;
  margin: 1rem auto;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding-top: 0.25rem;
  width: 155px;
  height: 30px;
  background-color: var(--purple);
  color: white;
  font-size: 14px;
  font-family: var(--header-title-font-medium);
}

@media screen and (min-width: 744px) {
  .placeOrderLink {
    padding-top: 0.3rem;
    font-size: 18px;
    width: 210px;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .summaryHeading {
    font-size: 40px;
  }

  .smallHeadingText {
    font-size: 24px;
  }

  .detailsContainer {
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .smallDetailsText {
    font-size: 16px;
  }

  .placeOrderLink {
    font-size: 24px;
    padding: 0.5rem;
    width: initial;
    height: initial;
  }
}
