.ctaCard {
  width: 220px;
  height: 142px;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 12rem;
  /* background: var(--blue); */
  background: var(--transparent-blue);
  text-align: center;
  padding: 1.5rem;
  border-radius: 5px;
}

.ctaText {
  color: white;
  font-size: 20px;
  font-family: var(--header-title-font-regular);
}

.ctaNavLink {
  text-decoration: none;
}

.ctaBtn {
  border: none;
  margin: 0.4rem auto 0;
  border-radius: 12px;
  background-image: linear-gradient(
    to right,
    #b87bc5,
    #c598d6,
    #d3b5e5,
    #e3d1f3,
    #f5edff
  );
  color: var(--blue);
  width: 98px;
  height: 29px;
  font-family: var(--header-title-font-medium);
  font-size: 15px;
}

.ctaBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}
