.formContainer {
  text-align: center;
}

.form {
  width: 335px;
  margin: 0 auto;
}

.label {
  font-size: 14px;
  color: var(--black);
  display: block;
  text-align: left;
}

.input {
  padding-left: 10px;
  height: 35px;
  min-width: 335px;
  border-radius: 5px;
  border: 1px solid var(--black);
  margin-bottom: 1rem;
}

.message {
  height: 150px;
}

.btn {
  background-color: var(--blue);
  color: white;
  font-size: 18px;
  height: 50px;
  width: 240px;
  font-family: var(--header-title-font-regular);
  margin: 1rem auto 8rem;
}
