.navItems {
  font-family: var(--header-title-font-regular);
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  position: relative;
}

.cartIcon {
  height: 21px;
}

.accountIcon {
  height: 20px;
}

.navBtn {
  font-family: var(--header-title-font-regular);
  font-size: 18px;
  background: none;
  color: white;
  margin-left: 2rem;
}

.link {
  color: white;
  margin-left: 3rem;
}

.active {
  text-decoration: underline;
}

.numCart {
  position: absolute;
  bottom: 65%;
  left: 98%;
  border-radius: 100%;
  background-color: var(--error);
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 12px;
}

.numCart p {
  line-height: 20px;
  color: white;
}

@media screen and (max-width: 790px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .navItems {
    font-size: 24px;
    margin-right: 3rem;
  }

  .cartIcon {
    height: 25px;
  }

  .accountIcon {
    height: 25px;
  }
}
